/test_local
/sdk.cfg
/_local
/dev/work/data
/lib/

# Development artifacts
LOCAL_ONLY_README.md
custom.env
*.pyc
.DS_Store
docs/api/index.html
/deploy/*
/build
/_attic


# Testing
/htmlcov/
.coverage
coverage.lcov
.pytest_cache
.mypy_cache

# Deployment
/deploy

# IDEs
.idea
.fleet