/test_local
/sdk.cfg
/_local
/dev/work/data
/lib/
.idea

# Development artifacts
LOCAL_ONLY_README.md
custom.env
*.pyc
.DS_Store
docs/api/index.html
/deploy/*


# Testing
/htmlcov/
.coverage
coverage.lcov
.pytest_cache
.mypy_cache

# Deployment
/deploy