# KBASE_ENDPOINT is like https://ci.kbase.us/services/
{{ $kbaseEndpoint := split "/" .Env.KBASE_ENDPOINT }}
{{ $serviceHost := $kbaseEndpoint._2 }}
kbase:
  services:
    Auth2:
      url: {{ .Env.KBASE_ENDPOINT }}auth/api/V2/token
      tokenCacheLifetime: 300000
      tokenCacheMaxSize: 20000
    ServiceWizard:
      url: {{ .Env.KBASE_ENDPOINT }}service_wizard/rpc
    ORCIDLink:
      url: {{ .Env.KBASE_ENDPOINT }}orcidlink
  # in prod the ui host is narrative.kbase.us, but in all others it
  # is X.kbase.us, where X is ci, next, appdev, narrative-dev
  defaults:
    serviceRequestTimeout: 60000
  uiOrigin: https://{{ eq $serviceHost "kbase.us" | ternary "narrative.kbase.us" $serviceHost }}
orcid:
  oauthBaseURL: https://sandbox.orcid.org/oauth
  baseURL: https://sandbox.orcid.org
  apiBaseURL: https://api.sandbox.orcid.org/v3.0
module:
  CLIENT_ID: '{{ .Env.KBASE_SECURE_CONFIG_PARAM_ORCID_CLIENT_ID }}'
  CLIENT_SECRET: '{{ .Env.KBASE_SECURE_CONFIG_PARAM_ORCID_CLIENT_SECRET }}'
  IS_DYNAMIC_SERVICE: '{{ default "yes" .Env.KBASE_SECURE_CONFIG_PARAM_IS_DYNAMIC_SERVICE }}'
  MONGO_USERNAME: '{{ .Env.KBASE_SECURE_CONFIG_PARAM_MONGO_USERNAME }}'
  MONGO_PASSWORD: '{{ .Env.KBASE_SECURE_CONFIG_PARAM_MONGO_PASSWORD }}'
  STORAGE_MODEL: 'mongo'
