# KBASE_ENDPOINT is like https://ci.kbase.us/services/
{ { $kbaseEndpoint := split "/" .Env.KBASE_ENDPOINT } }
  { { $serviceHost := $kbaseEndpoint._2 } }
kbase:
  services:
    Auth2:
      url: { { .Env.KBASE_ENDPOINT } }auth/api/V2/token
      tokenCacheLifetime: 300000
      tokenCacheMaxSize: 20000
    ORCIDLink:
      url: { { .Env.KBASE_ENDPOINT } }orcidlink
  # in prod the ui host is narrative.kbase.us, but in all others it
  # is X.kbase.us, where X is ci, next, appdev, narrative-dev
  #  defaults:

  uiOrigin: https://{{ eq $serviceHost "kbase.us" | ternary "narrative.kbase.us" $serviceHost }}
orcid:
  oauthBaseURL: https://sandbox.orcid.org/oauth
  baseURL: https://sandbox.orcid.org
  apiBaseURL: https://api.sandbox.orcid.org/v3.0
  CLIENT_ID: '{{ .Env.ORCID_CLIENT_ID }}'
  CLIENT_SECRET: '{{ .Env.ORCID_CLIENT_SECRET }}'
module:
  serviceRequestTimeout: 60000
mongo:
  host: '{{ .Env.MONGO_HOST }}'
  port: '{{ .Env.MONGO_PORT }}'
  database: '{{ .Env.MONGO_DATABASE }}'
  username: '{{ .Env.MONGO_USERNAME }}'
  password: '{{ .Env.MONGO_PASSWORD }}'
